I want to focus on dogs only. Does breed, color, age or gender matter on the outcome of the dog?  I think gender and age won't matter as much as breed and color. And that Pit Bulls and black dogs have a more difficult time being adopted and a higher rate of being in the shelter to start with.

Importing the necessary packages. Reading in the data. Showing what columns I have to begin with

In [41]:

import pandas as pd
import numpy as np
df = pd.read_csv('data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137102 entries, 0 to 137101
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         137102 non-null  object
 1   Name              96100 non-null   object
 2   DateTime          137102 non-null  object
 3   MonthYear         137102 non-null  object
 4   Date of Birth     137102 non-null  object
 5   Outcome Type      137078 non-null  object
 6   Outcome Subtype   62654 non-null   object
 7   Animal Type       137102 non-null  object
 8   Sex upon Outcome  137100 non-null  object
 9   Age upon Outcome  137097 non-null  object
 10  Breed             137102 non-null  object
 11  Color             137102 non-null  object
dtypes: object(12)
memory usage: 12.6+ MB

Dropping columns I don't need

In [42]:
df.drop(columns=['Name'], inplace=True)
df.drop(columns=['DateTime'], inplace=True)
df.drop(columns=['Outcome Subtype'], inplace=True)
df.drop(columns=['Date of Birth'], inplace=True)
df.head()

,Animal ID,MonthYear,Outcome Type,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,19-May,Rto-Adopt,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,18-Jul,Adoption,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,20-Aug,Euthanasia,Other,Unknown,1 year,Raccoon,Gray
3,A720371,16-Feb,Adoption,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,14-Mar,Transfer,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

Seeing what Animal Types, then dropping all but dogs

In [43]:
df['Animal Type'].value_counts()

Dog          77096
Cat          52092
Other         7253
Bird           636
Livestock       25
Name: Animal Type, dtype: int64

In [44]:
df = df[df['Animal Type'] !='Cat']
df = df[df['Animal Type'] !='Other']
df = df[df['Animal Type'] !='Bird']
df = df[df['Animal Type'] !='Livestock']
df.head()

,Animal ID,MonthYear,Outcome Type,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
1,A776359,18-Jul,Adoption,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
3,A720371,16-Feb,Adoption,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
5,A659412,20-Oct,Adoption,Dog,Spayed Female,7 years,Chihuahua Shorthair Mix,Brown
6,A814515,20-May,Adoption,Dog,Neutered Male,2 years,American Foxhound/Labrador Retriever,White/Brown
9,A840370,21-Aug,Adoption,Dog,Spayed Female,2 years,Border Collie/Cardigan Welsh Corgi,Black/White

In [45]:
#resetting index for easier use later
df = df.reset_index(drop=True)
df.head()

,Animal ID,MonthYear,Outcome Type,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A776359,18-Jul,Adoption,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
1,A720371,16-Feb,Adoption,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
2,A659412,20-Oct,Adoption,Dog,Spayed Female,7 years,Chihuahua Shorthair Mix,Brown
3,A814515,20-May,Adoption,Dog,Neutered Male,2 years,American Foxhound/Labrador Retriever,White/Brown
4,A840370,21-Aug,Adoption,Dog,Spayed Female,2 years,Border Collie/Cardigan Welsh Corgi,Black/White

In [46]:
df['Breed'].value_counts()

Pit Bull Mix                         8940
Labrador Retriever Mix               7397
Chihuahua Shorthair Mix              6519
German Shepherd Mix                  3306
Pit Bull                             1842
                                     ...
Schnauzer Giant/Otterhound              1
Greyhound/Border Collie                 1
Miniature Schnauzer/West Highland       1
Alaskan Husky/Collie Smooth             1
Standard Schnauzer/Siberian Husky       1
Name: Breed, Length: 2421, dtype: int64